@{
	//ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section metatags
{
<title>Page title | Youtube | Some stuff | 222bb222 | @HttpContext.Current.Request.Url.Host</title>
	<meta name="title" content="blaldfafdlafdaf" />
	<meta name="description" content="This is my description for this page" />
}

<script>
	var valueList = [
		{
			"value": "111aa111", // first id
			"url": "https://www.youtube.com/embed/i23aUei_7ig"
		},
		{
			"value": "222bb222",	// second id
			"url": "https://www.youtube.com/embed/PPgqEcV5LIA"
		},
		{
			"value": "332css3334", // third id
			"url": "https://www.youtube.com/embed/60S2Ast6t2A"
		},
		{
			"value": "ddls4432", // fourth id
			"url": "https://www.youtube.com/embed/sAky2InUsEU"
		},
		{
			"value": "6655sds655s2", // fifth id
			"url": "https://www.youtube.com/embed/NMsFHCepvYQ"
		}
	];
</script>


<div class="container">
	<h1>This is my Page-Title</h1>
	<div class="row">
		<div class="col-sm-8" id="videoWrapper">
			<iframe id="myIFrame" src="https://www.youtube.com/embed/E4nSyyWOjz4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>

	<div class="row">
		<div class="spacer-50"></div>
		
		<div class="col">
			<h2>What's the task?</h2>
			<p>Recently i was asked if we can play some specific Youtube-Videos if we have dynamically content on a website.</p>
			<p>So i got the idea to make an json list, where we can save an ID with the matching Youtube-URL for the video. In my example the ID is stored in the title.</p>
			<p>1. In the first, i have to read the content of the title-tag. Afterwards i need to split the content with "|".</p>
			<p>2. On the second part, i save the needed value and trim it. After that i lowercase the string to avoid sensitive case issues.</p>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<a href="https://github.com/endylinux/youtube-url-loader" target="_blank">Link to my Github repository</a>
		</div>
	</div>

</div><!-- container-End -->



<script>
	var title = document.getElementsByTagName('title');
	var titleString = title[0].innerHTML;
	titleString = titleString.toString().split("|");
	var value = titleString[3].trim().toLowerCase();

	for (var key in valueList) {
		if (valueList.hasOwnProperty(key)) {
			var tempValue = valueList[key].value.toLowerCase();
			var tempUrl = valueList[key].url;
			if (tempValue === value) {
				top.document.getElementById('myIFrame').setAttribute("src", tempUrl);
			}
		}
	}
</script>