@{
	ViewBag.Title = "About";
}


<div class="container">
	<h2 class="text-uppercase">About me</h2>
	@*<h3>@ViewBag.Message</h3>*@
	<div class="spacer-10"></div>
	<section>
		Hi, my name is Eugen-Alexander!
		<hr />
	</section>
	<div class="spacer-30"></div>
	<section>
		<h3 class="text-uppercase">Who am i?</h3>
		<div class="spacer-10"></div>
		<p>
			Thank you for the visit! I'm a C# software developer wo spends most of the time with Microsoft technology stack like ASP.NET, ASP.NET MVC, ASP.NET Web API and WCF. Also I like to develope web applications and tools with HTML CSS and Javascript or jQuery. But I'm not focused just on C#, I also like to code in Java, PHP or NodeJs.
		</p>
		<p>
			I love to listen music, especially classic and punk rock. In my free time I enjoy to play with my kidies, hearing their laughter and watching them growing up.
		</p>
	</section>
	<div class="spacer-30"></div>
	<section>
	</section>
</div>


