@{
	ViewBag.Title = "Contact";
}
<div class="container">
	<h2 class="mt-5">@ViewBag.Title.</h2>
	<div class="row">
		<div class="col-lg-12">
			<h3>@ViewBag.Message</h3>

			<address>
				Eugen-Alexander<br />
				Hauptstrasse 21<br />
				76706 Dettenheim<br />
				<abbr title="Mobile">Mobile:</abbr>
				0176 368 22 171
			</address>
			<address>
				<strong>Contact:</strong> <a href="mailto:linux&commat;habrony&period;de">li<!-- abc@fed -->nux&commat;habro<!-- abc@fed -->ny&period;d<!-- abc@fed -->e</a><br />
			</address>
		</div>
	</div>
</div>