
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var route = Request.Url;
}

<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h2 class="mt-5">Hello to my Start-Page</h2>
			<div class="spacer-20"></div>
			<div>
				<p>
					This is my Start-Page and here i should post more things about me, maybe some other stuff too!
				</p>
				<p>
					My first Object was to create an ASP.NET MVC application with simple ADO.NET and a MySQL Database, since 1und1.de offers more space for MySQL than MSSQL.
				</p>
			</div>
		</div>
	</div>
</div>
